<div [ngSwitch]="idc">
    <app-t111 *ngSwitchCase="111"></app-t111>
    <app-t121 *ngSwitchCase="121"></app-t121>
    <app-t131 *ngSwitchCase="131"></app-t131>
    <app-t141 *ngSwitchCase="141"></app-t141>
    <app-t151 *ngSwitchCase="151"></app-t151>
    <app-t161 *ngSwitchCase="161"></app-t161>
    <app-t171 *ngSwitchCase="171"></app-t171>
    <app-t181 *ngSwitchCase="181"></app-t181>
    <app-t191 *ngSwitchCase="191"></app-t191>
    <app-t1101 *ngSwitchCase="1101"></app-t1101>
    <app-t1111 *ngSwitchCase="1111"></app-t1111>
    <app-t1121 *ngSwitchCase="1121"></app-t1121>
    <div *ngSwitchDefault>Nada</div>
</div>