<app-navbar-professor></app-navbar-professor>
<div class="p-4">
    <h2 class="fw-bold text-black-50">Subir Grupo</h2>
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                  <a class="btn btn-primary text-white btn-xl rounded-pill" role="button"> Elegir Archivo </a>
                  <p class="">Formato compatible: .xlsx</p>
                 <p>
                     Da <a href="">click aquí</a> para ver un ejemplo de archivo 
                 </p>
                </div>
              </div>
        </div>
    </div>
    <h2 class="fw-bold text-black-50">Vista Previa</h2>
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col">
                <h2 class="card-title text-primary fw-bold">Matematicas 2021-1</h2>
            </div>
            <div class="col-auto d-inline-block">
                <a class="btn btn-primary text-white btn-sm rounded-pill"  role="button"> Guardar </a>
                <a class="btn bg-danger text-white btn-sm rounded-pill" role="button"> Cancelar </a>
            </div>
        </div>
        <div class="">
            <p class="fw-bold">Alumnos: 34</p>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Cras justo odio
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Cras justo odio
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Cras justo odio
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Dapibus ac facilisis in
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                
              </li>
            </ul>
        </div>
      </div>
    </div>
</div>