<nav class="p-2 
            m-0 
            row 
            align-items-center 
            bg-secondary
            border-bottom 
            border-primary 
            border-3
">
    <div class="col-auto" style="height: 50px;">
        <img class="" style="height: 100%;" src="assets/img/usuario.png" alt="">
    </div>
    <div class="col-auto">
        <div class="text-white fw-bold">
            Angel Isidro Lopez Cadena
        </div>
        <div class="row">
            <div class="col-auto pe-0">
                <small class="fw-bold text-primary">NL:</small>
            </div>
            <div class="col">
                <div class="border 
                border-primary 
                border-2 rounded-pill"
                style="height: 100%;">
                    <div class="rounded-pill bg-primary"
                    style="height: 100%;" [ngStyle]="{width:exp+'%'}">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary btn-xl rounded-pill text-white" [routerLink]="['/homeStudent']" role="button"> Inicio </a>
    </div>
    <div class="col d-flex justify-content-end">
        <div><a class="fw-bold text-decoration-none link-primary" href="">Salir</a></div>
    </div>
</nav>