<app-navbar></app-navbar>
<div class="row m-0 p-0">
    <div class="col-md-2 order-2 order-md-1">
        <app-index-student [subject]="subject" [modo]="'content'" [idc]="idc"></app-index-student>
    </div>
    <div class="col-md order-1 order-md-2 px-0" [ngClass]="sepia ? 'bg-info':''">
        <div class="p-4">
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-primary text-white btn-sm" (click)="location.back()">Atras</button>
                </div>
                <div class="col-auto"><h2 class="fw-bold text-primary">{{content.name}}</h2></div>
                <div class="col-auto">
                    <img style="width: 2rem;" class="boton" src="assets/img/como.png" alt="">
                </div>
                <div class="col-auto">
                    <img style="width: 2rem;" class="boton" src="assets/img/disgusto.png" alt="">
                </div>
                <div class="col-auto">
                    <img style="width: 2rem;" class="boton" [src]="sepia ? 'assets/img/medusa.png':'assets/img/masaje.png'" alt="" (click)="sepia = !sepia">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-selector [idc]="idc"></app-selector>
                    <h5 class="text-primary mt-3 fw-bold">Fuentes</h5>
                    <ul class="p-1">
                        <li *ngFor="let reference of content.references">
                            <small>{{reference}}</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>