<app-navbar-student></app-navbar-student>
<div class="row m-0 p-0">
    <div class="col-2">
        <app-index-student></app-index-student>
    </div>
    <div class="col-10 px-0" [ngClass]="sepia ? 'bg-info':''">
        <div class="p-4">
            <div class="row">
                <div class="col-auto"><h2 class="fw-bold text-primary">Ejercicio 1</h2></div>
                <div class="col-auto">
                    <img style="width: 2rem;" class="boton" src="assets/img/como.png" alt="">
                </div>
                <div class="col-auto">
                    <img style="width: 2rem;" class="boton" src="assets/img/disgusto.png" alt="">
                </div>
                <div class="col-auto">
                    <img style="width: 2rem;" class="boton" [src]="sepia ? 'assets/img/medusa.png':'assets/img/masaje.png'" alt="" (click)="sepia = !sepia">
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magnam alias animi quod incidunt eum quis perspiciatis fugiat natus rem odit accusantium voluptatibus autem, fugit beatae eveniet deleniti possimus dolorum!

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quos laborum nemo tempore, consequuntur aut, praesentium ullam consequatur non asperiores, dignissimos odit deserunt libero et enim eius ex sed porro!
                    </div>
                    <div class="text-center p-4">
                        <div><img style="width: 15rem;" src="assets/img/idea.png" alt=""></div>
                        <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</small>
                        <div style="font-size: .8rem;"><a href="">Fuente: loremipsum</a></div>
                    </div>
                    <div class="mt-2">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magnam alias animi quod incidunt eum quis perspiciatis fugiat natus rem odit accusantium voluptatibus autem, fugit beatae eveniet deleniti possimus dolorum!

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quos laborum nemo tempore, consequuntur aut, praesentium ullam consequatur non asperiores, dignissimos odit deserunt libero et enim eius ex sed porro!
                    </div>
                    <div class="text-center p-4">
                        <div><img style="width: 15rem;" src="assets/img/idea.png" alt=""></div>
                        <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</small>
                        <div style="font-size: .8rem;"><a href="">Fuente: loremipsum</a></div>
                    </div>
                    <div class="mt-2">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magnam alias animi quod incidunt eum quis perspiciatis fugiat natus rem odit accusantium voluptatibus autem, fugit beatae eveniet deleniti possimus dolorum!

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quos laborum nemo tempore, consequuntur aut, praesentium ullam consequatur non asperiores, dignissimos odit deserunt libero et enim eius ex sed porro!
                    </div>
                </div>
                <div class="col-2">
                    <h5 class="text-primary">Fuentes</h5>
                    <ul class="p-1" style="list-style: none;">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                        <li><a href="">Link 5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>