<app-navbar-student></app-navbar-student>

<div class="m-0 p-4">
    <h6 class="text-secondary mb-0 fw-bold">{{subjectName}}</h6>
    <h4 class="text-primary fw-bold">{{testName}}</h4>
    <div class="px-5 pt-4" style="height: 28rem;">
        <app-card-instructions (startEmitter)="start()" *ngIf="!startTest"></app-card-instructions>
        <app-card-question *ngIf="startTest" [questionNumber]="questionNumber" [question]="questions[questionNumber]" (emitter)="questionNumber=questionNumber+1"></app-card-question>
        <div class="mt-3 text-center">
            <img [src]="questionNumber>0?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>1?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>2?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>3?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>4?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>5?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>6?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>7?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>8?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
            <img [src]="questionNumber>9?'assets/img/circle.png':''" class="me-1" style="width: 2rem;" alt="">
        </div>
    </div>
</div>