<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary border-bottom 
border-primary 
border-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto" style="height: 50px;">
                <img class="" style="height: 100%;" src="{{ photo }}" alt="">
            </div>
            <div class="col-auto">
                <div class="text-white fw-bold">
                    {{ displayName }}
                </div>
                <div class="colorGris">
                    <small class="fw-bold text-primary">{{rolName}}</small>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-md-4 me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary btn-xl rounded-pill text-white" [routerLink]="[role]" role="button"> Inicio
                    </a>
                </li>
            </ul>
            <div class="d-flex justify-content-center">
                <a (click)="cerrarSesion()" class="fw-bold text-decoration-none link-primary" href="">Salir</a>
            </div>
        </div>
    </div>
</nav>