<div class="card bg-secondary text-white rounded-3 shadow">
    <div class="card-body p-4">
        <pre class="fw-bold text-white">{{question.frase}}</pre>
        <div *ngIf="question.imagen" class="mb-4">
            <img [src]="question.imagen" class="img-fluid" alt="">
        </div>
        <div style="height: 90%;">
            <div class="row h-50">
                <div (click)="next(0)" class="col-6 h-100">
                    <div class="card bg-primary hovCard shadow">
                        <div class="card-body">
                            <pre>{{answers[0]}}</pre>
                        </div>
                    </div>
                </div>
                <div (click)="next(1)" class="col-6 h-100">
                    <div class="card bg-primary hovCard shadow">
                        <div class="card-body">
                            <pre>{{answers[1]}}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 h-50">
                <div (click)="next(2)" class="col-6 h-100">
                    <div class="card bg-primary hovCard shadow">
                        <div class="card-body">
                            <pre>{{answers[2]}}</pre>
                        </div>
                    </div>
                </div>
                <div (click)="next(3)" class="col-6 h-100">
                    <div class="card bg-primary hovCard shadow">
                        <div class="card-body">
                            <pre>{{answers[3]}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>