<div class="m-4">
    <h2 class="fw-bold text-secondary">Admin Profesores</h2>
    <br>
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title text-secondary fw-bold">Crear Profesor</h5>
            <hr>

            <form action="" class="row mb-3">
                <div class="col">
                    <input class="form-control" type="text" placeholder="NRC de la materia">
                </div>
                <div class="col">
                    <select class="form-select" name="" id="" >
                        <option selected>Tipo de contenido</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" name="" id="">
                        <option selected>Periodo</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col">
                    <input class="form-control" type="text" placeholder="Año">
                </div>
            </form>

            <div style="direction: rtl;">
                <a name="" id="" class="btn btn-primary text-white fw-bold" href="#" role="button">Crear</a>
            </div>
            
        </div>
    </div>
    <br>
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-secondary fw-bold">Lista de profesores</h5>
        <hr>
        <table class="table table-bordered border-secondary">
            <thead>
                <tr>
                    <th>NRC</th>
                    <th>Nombre Materia (CONTENIDO)</th>
                    <th>PERIODO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="" class="me-2">Edicion</a>
                        <a href="">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>