<nav class="p-2 
            m-0 
            row 
            align-items-center 
            fondoGris 
            border-bottom 
            border-primary 
            border-3
">
    <div class="col-auto" style="height: 50px;">
        <img class="" style="height: 100%;" src="assets/img/usuario.png" alt="">
    </div>
    <div class="col-auto">
        <div class="text-primary fw-bold">
            Judit Villalba
        </div>
        <div class="colorGris">
            <small class="fw-bold">Profesor</small>
        </div>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary btn-xl rounded-pill" href="#" role="button"> Inicio </a>
    </div>
    <div class="col d-flex justify-content-end">
        <div><a class="fw-bold text-decoration-none" href="">Salir</a></div>
    </div>
</nav>