<app-navbar></app-navbar>

<div class="row m-0 p-0">
    <div class="col-2">
        <app-index-student [subject]="subject" (subjectOut)="indexOut($event)" ></app-index-student>
    </div>
    <div class="col-8">
        <div class="container p-4">
            <h1 class="fw-bold text-secondary">{{subject?.name}}</h1>
            <div class="row">
                <div class="col">
                    <p class="fw-light">Tu profesor: {{subject?.profesor}}</p>
                </div>
                <div class="col-auto">
                    <p class="fw-light">{{subject?.contentComplete}} de {{subject?.contentTotal}} contenidos</p>
                </div>
            </div>
            <div class="border 
                border-primary 
                border-2 rounded-pill"
                style="height: 1rem;">
                <div class="rounded-pill bg-primary"
                style="height: 102%;" [ngStyle]="{width:progress+'%'}">

                </div>
            </div>
            <h3 class="my-4 fw-bold text-secondary">{{partName}}</h3>
            <div class="mb-2" *ngFor="let content of subject?.sections[0].partsContent[subject?.sections[0].select]">
                <app-card-content [content]="content"></app-card-content>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="container p-2 pt-4">
            <h5 class="fw-bold text-secondary">Clasificaciones</h5>
            <ul class="p-0" style="list-style:none;">
                <li>
                    <app-rating></app-rating>
                </li>
                <li>
                    <app-rating></app-rating>
                </li>
                <li>
                    <app-rating></app-rating>
                </li>
                <li>
                    <app-rating></app-rating>
                </li>
                <li>
                    <app-rating></app-rating>
                </li>
            </ul>
            <h5 class="fw-bold text-secondary">Medallas</h5>
            <ul class="p-0" style="list-style: none;">
                <li>
                    <app-badge></app-badge>
                </li>
            </ul>
        </div>
    </div>
</div>