<app-navbar-student></app-navbar-student>

<div class="row m-0 p-0">
    <div class="col-2">
        <div class="container p-2 pt-4">
            <h5 class="fw-bold text-secondary">Índice</h5>
            <a href="" class="fw-bold text-primary">Lenguaje y Deducción Matemática</a>
            <ul class="p-2" style="list-style: none;">
                <li><a class="text-primary" href="">Proposiciones</a></li>
                <li><a href="">Tautologías</a></li>
                <li><a href="">Equivalencias</a></li>
                <li><a href="">Razonamientos</a></li>
                <li><a href="">Metodos de Demostración</a></li>
            </ul>
            <a href="" class="fw-bold">Introducción de la Teoria de Conjuntos</a>
            <ul class="p-2" style="list-style: none;">
                <li><a class="" href="">Proposiciones</a></li>
                <li><a href="">Tautologías</a></li>
                <li><a href="">Equivalencias</a></li>
                <li><a href="">Razonamientos</a></li>
                <li><a href="">Metodos de Demostración</a></li>
            </ul>
        </div>
    </div>
    <div class="col-8">
        <div class="container p-4">
            <h1 class="fw-bold text-secondary">Matemáticas</h1>
            <div class="row">
                <div class="col">
                    <p class="fw-light">Tu profesor: Judit Villalba</p>
                </div>
                <div class="col-auto">
                    <p class="fw-light">14 de 56 contenidos</p>
                </div>
            </div>
            <div class="border 
                border-primary 
                border-2 rounded-pill"
                style="height: 1rem;">
                <div class="rounded-pill bg-primary"
                style="height: 101%; width: 20%;">

                </div>
            </div>
            <h3 class="my-4 fw-bold text-secondary">Proposiciones</h3>
            <div>
                <app-card-content></app-card-content>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="container p-2 pt-4">
            <h5 class="fw-bold text-secondary">Clasificaciones</h5>
            <ul class="p-0" style="list-style:none;">
                <li>
                    <app-rating></app-rating>
                </li>
                <li>
                    <app-rating></app-rating>
                </li>
                <li>
                    <app-rating></app-rating>
                </li>
                <li>
                    <app-rating></app-rating>
                </li>
                <li>
                    <app-rating></app-rating>
                </li>
            </ul>
            <h5 class="fw-bold text-secondary">Medallas</h5>
            <ul class="p-0" style="list-style: none;">
                <li>
                    <app-badge></app-badge>
                </li>
            </ul>
        </div>
    </div>
</div>