a{
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline !important;
}

.desabilitado{
    pointer-events: none !important;
    opacity: 0.65;
}

.fondo{
    background-color: #FBFDFF!important;
}