<div class="card bg-secondary text-white rounded-3 shadow">
    <div class="card-body p-4">
        <h5>{{question.frase}}</h5>
        <br>
        <div style="height: 90%;">
            <div class="row h-50">
                <div (click)="next(0)" class="col-6 h-100">
                    <div class="card bg-success hovCard shadow">
                        <div class="card-body">
                            Verdadero
                        </div>
                    </div>
                </div>
                <div (click)="next(1)" class="col-6 h-100">
                    <div class="card bg-danger hovCard shadow">
                        <div class="card-body">
                            Falso
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>