<div class="d-flex align-items-center justify-content-center bg-secondary border-top border-5 border-primary" style="width: 100%;height: 100vh;">

    <div class="text-center" style="width: 17rem;">
        <div class="mb-5">
            <h3 class="text-light fw-bold">
                Iniciar Sesión
            </h3>
        </div>
        <div class="mb-4">
            <input class="rounded-pill" style="width: 100%;" type="text" name="" id="" placeholder="Correo">
        </div>
        <div class="mb-4">
            <input class="rounded-pill" style="width: 100%;" type="password" placeholder="Contraseña">
        </div>
        <div class="mb-4">
            <a class="btn btn-primary btn-xl rounded-pill fw-bold text-white" style="width: 100%;" href="#" role="button"> Entrar </a>
        </div>
        <div class="mb-4">
            <a class="btn btn-primary btn-xl rounded-pill fw-bold text-white" style="width: 100%;" href="#" role="button"> Registrarse </a>
        </div>
        <div>
            <a class="btn btn-outline-primary btn-sm rounded-pill" style="width: 100%;" href="#" role="button"> <small>Recuperar contraseña </small></a>
        </div>
    </div>
</div>