<div class="d-flex align-items-center justify-content-center bg-secondary border-top border-5 border-primary" style="width: 100%;height: 100vh;">

    <div class="text-center" style="width: 17rem;">
        <div class="mb-5">
            <h3 class="text-light fw-bold">
                Iniciar Sesión
            </h3>
        </div>
        <form   [formGroup]="form"
                (submit)="submitForm()"
                autocomplete="off" >
            <div class="mb-4">
                <input  formControlName="correo"
                        name="correo"
                        class="rounded-pill" style="width: 100%;" type="text" id="" placeholder="Correo">
            </div>
            <div class="mb-4">
                <input  formControlName="password"
                        name="password"
                        class="rounded-pill" style="width: 100%;" type="password" placeholder="Contraseña">
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-primary btn-xl rounded-pill fw-bold text-white" style="width: 100%;">Entrar</button>
            </div>
        </form>
        <div class="mb-4">
            <button (click)="cerrarSesion()" class="btn btn-primary btn-xl rounded-pill fw-bold text-white" style="width: 100%;">Cerrar sesion</button>
        </div>
        <div class="mb-4">
            <a class="btn btn-primary btn-xl rounded-pill fw-bold text-white" style="width: 100%;" href="#" role="button"> Registrarse </a>
        </div>
        <div>
            <a class="btn btn-outline-primary btn-sm rounded-pill" style="width: 100%;" href="#" role="button"> <small>Recuperar contraseña </small></a>
        </div>
    </div>
</div>