<div class="m-4">
    <h2 class="fw-bold text-secondary">Admin Materias</h2>
    <br>
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title text-secondary fw-bold">Crear Materia</h5>
            <hr>

  
            <form   [formGroup]="form"
                    (submit)="submitForm()" 
                    autocomplete="off"
                    class="row mb-3"
            >

                <div class="col">
                    <input  formControlName="nrc"
                            name="nrc"
                            class="form-control" type="text" placeholder="NRC de la materia">
                </div>
                <div class="col">
                    <input  formControlName="nombre_profesor"
                            name="nombre_profesor"
                            class="form-control" type="text" placeholder="Nombre del profesor">
                </div>
                <div class="col">
                    <input  formControlName="matricula_profesor"
                            name="matricula_profesor"
                            class="form-control" type="text" placeholder="Matrícula del profesor">
                </div>
                <div class="col">
                    <select     formControlName="id_contenido"
                                name="id_contenido"
                                class="form-select" name="" id="" >
                        <option value="" selected>Tipo de contenido</option>
                        <option *ngFor="let contenido of contenidos" [value]="contenido.id_contenido" >{{ contenido.nombre_materia }}</option>

                    </select>
                </div>
                <div class="col">
                    <select     formControlName="periodo"
                                name="periodo"
                                class="form-select" name="" id="">
                        <option value="" selected>Periodo</option>
                        <option value="PRIMAVERA">Primavera</option>
                        <option value="VERANO">Verano</option>
                        <option value="OTOÑO">Otoño</option>
                    </select>
                </div>
                <div class="col">
                    <select     formControlName="anio"
                                name="anio"
                                class="form-select" name="" id="">
                        <option value="" selected>Año del periodo</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select>
                </div>

                <div style="direction: rtl;">
                    <button type="submit" class="btn btn-primary text-white fw-bold mt-3" style="width: 100%;" >Crear</button>
                </div>

            </form>
            
        </div>
    </div>
    <br>
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-secondary fw-bold">Lista de materias</h5>
        <hr>
        <table class="table table-bordered border-secondary">
            <thead>
                <tr>
                    <th>NRC</th>
                    <th>Profesor</th>
                    <th>Periodo</th>
                    <th>Año</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let materia of materias" >
                    <td scope="row">{{ materia.nrc }}</td>
                    <td>{{ materia.nombre_profesor }}</td>
                    <td>{{ materia.periodo }}</td>
                    <td>{{ materia.anio }}</td>
                    <td>
                        <!-- <a href="" class="me-2">Edicion</a> -->
                        <a (click)="eliminarMateria( materia.id )"  >Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</div>