<app-navbar></app-navbar>
<div class="row m-0 p-0">
    <div class="col-2">
        <div class="container p-2 pt-4">
            <h5 class="fw-bold text-secondary">Índice</h5>
            <a href="" class="">Grupo</a>
            <p class="fw-bold text-secondary mt-2 mb-0">Alumnos</p>
            <ul class="p-2" style="list-style: none;">
                <li><a href=""><small class="fw-bold text-primary">Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
                <li><a href=""><small>Angel Lopez Cadena</small></a></li>
            </ul>
        </div>
    </div>
    <div class="col-10">
        <div class="container p-4">
            <h1 class="fw-bold text-secondary">Matemáticas</h1>
            <div class="row">
                <div class="col">
                    <p class="fw-light">Alumnos:23</p>
                </div>
                <div class="col-auto">
                    <p class="fw-light">Promedio:14 de 56 contenidos</p>
                </div>
            </div>
            <div class="border 
                border-primary 
                border-2 rounded-pill"
                style="height: 1rem;">
                <div class="rounded-pill bg-primary"
                style="height: 101%; width: 20%;">

                </div>
            </div>
            <h3 class="mt-4 fw-bold text-secondary">Angel Lopez Cadena</h3>
            <h6 class="mb-4 fw-bold text-black-50">Matricula: 201655344</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae saepe, architecto perferendis consequatur quisquam impedit sed, vitae nostrum aspernatur magnam ipsum deserunt tempora quo iste sint doloribus eos exercitationem voluptate.</p>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            b5
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              b5
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>