/* You can add global styles to this file, and also import other style files */

$primary: #00b5e2;
$secondary: #003b5c;
$info:#EDD1B0;

$theme-colors: (
  "primary": $primary,
  "secondary":  $secondary,
  "info": $info
);

@import "../node_modules/bootstrap/scss/bootstrap";

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFDFF;
}

