<app-navbar></app-navbar>
<div class="row m-0 p-0">
    <div class="col-md-8">
        <div class="container p-4">
            <!-- <h2 class="fw-bold text-secondary">Información</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        b5
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          b5
                        </div>
                      </div>
                </div>
            </div> -->

            <h2 class="fw-bold text-secondary">Materias</h2>
            
            <div *ngFor="let subject of subjects" class="mb-2">
                <app-card-subject [routerLink]="['/subject',subject.id]" [subject]="subject"></app-card-subject>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container p-4">
            <h4 class="fw-bold text-secondary mb-2">Avisos</h4>
                <!-- <button (click)="accion()" class="btn btn-primary m-2" >clickme</button> -->
                <app-notification *ngFor="let notification of notifications.slice().reverse() | slice:0:3 ; let i = index" [notification]="notification" [index]="i" ></app-notification>
            <h4 class="fw-bold text-secondary my-3">Configuración</h4>
            <div class="row">
                <!-- <div class="col-12 mb-2">
                    <a class="btn btn-primary btn-xl text-white" style="width: 100%;" [routerLink]="['/testInteligencias']" role="button"> Test de inteligencias </a>
                </div> -->
                <div class="col-12 mb-2">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <a class="btn btn-primary btn-xl text-white" style="width: 100%;" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" role="button"> Cambiar Contraseña </a>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <form   [formGroup]="form"
                                (submit)="submitForm()">
                                    <input  formControlName="password1"
                                            name="password1" class="rounded-pill mt-2 border-primary border-1" style="width: 100%;" type="password" placeholder="Nueva contraseña">
                                    <input  formControlName="password2"
                                            name="password2" class="rounded-pill mt-2 border-primary border-1" style="width: 100%;" type="password" placeholder="Repite nueva contraseña">
                                    <button class="btn btn-outline-primary mt-2 btn-xl w-100" type="submit" >Guardar</button>
                                </form>
                            </div>
                        </div>
                      </div>
                    
                </div>
                <div class="col-12">
                    <!-- <a class="btn btn-primary btn-xl text-white" style="width: 100%;" href="#" role="button"> Cambiar Imagen </a> -->
                </div>
            </div>
        </div>
    </div>
</div>